<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
</head>

<body>
    <h1>{{ user[1] }}</h1>

    <h3>Добро пожаловать!</h3>
    
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <h3>{{ post[1] }}</h3>
                    <p>{{ post[2] }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Постов нет</p>
    {% endif %}


    {% if notifications %}
        <ul>
            {% for note in notifications %}
                <li>
                    <strong>{{ note[2] }}</strong>: {{ note[3] }}
                    <em>({{ note[4] }})</em>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Логов нет</p>
    {% endif %}

</body>

</html>
